/* Debt View Container */
.debt-view-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 4px;
    text-align: center;
  }
  
  /* Logo Styling */
  .logo {
    max-width: 180px;
    margin-bottom: 20px;
  }
  
  /* Debt Card Styling */
  .debt-card {
    background-color: #363636;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .debt-card p {
    margin: 5px 0;
  }
  
  /* Button Styling */
  .debt-card button {
    background-color: #D5FF0A;
    color: black;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .debt-card button:hover {
    background-color: #BDEE07;
  }
  
.debt-card {
    background-color: #313131; /* Dark background for the card */
    border: 1px solid #505050; /* Grey border for the card */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .debt-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .debt-table td {
    padding: 5px;
    border: 1px solid #505050; /* Grey border for the table cells */
    color: white; /* White text color */
    background-color: #1E1E1E;
  }
  
  .debt-table td:nth-child(2) {
    text-align: right;
  }
  
  .debt-table tr:nth-child(3) td:nth-child(2) {
    color: #7bfe53; /* Repayment amount in red */
  }
  
  .debt-table tr:nth-child(2) td:nth-child(2) {
    color: #D5FF0A; /* Repayment date in yellow */
  }

  .debt-table tr:nth-child(1) td:nth-child(2) {
    color: #FE7253; /* Repayment date in yellow */
  }
  
  .rollover-button,
  .repay-button {
    background-color: #D5FF0A; /* Yellow buttons */
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .rollover-button:hover,
  .repay-button:hover {
    background-color: #BDEE07; /* Lighter yellow on hover */
  }

  /* Repayment Summary Card */
.repayment-summary {
    background-color: #313131; /* Dark background for the card */
    border: 1px solid #505050; /* Grey border for the card */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
    text-align: left;
  }
  
  .repayment-summary p {
    margin: 5px 0;
  }
  
  .confirm-repayment-button {
    background-color: #D5FF0A; /* Yellow button */
    color: black;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .confirm-repayment-button:hover {
    background-color: #BDEE07; /* Lighter yellow on hover */
  }
  
  .summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  .summary-table td {
    padding: 5px;
    border: 1px solid #505050; /* Grey border for the table cells */
    color: white; /* White text color */
    background-color: #1E1E1E;
  }
  
  .summary-table td:nth-child(2) {
    text-align: right;
  }
  
  .summary-table tr:nth-child(3) td:nth-child(2) {
    color: #7bfe53; /* Repayment amount in red */
  }
  
  .summary-table tr:nth-child(2) td:nth-child(2) {
    color: #FE7253; /* Repayment date in yellow */
  }

  .summary-table tr:nth-child(1) td:nth-child(2) {
    color: #7bfe53; /* Repayment date in yellow */
  }

  .summary-table tr:nth-child(4) td:nth-child(2) {
    color: #D5FF0A; /* Repayment amount in red */
  }